{
  "extends": "airlight-node",
  "parserOptions": {
    "project": "./tsconfig.json",
    "extraFileExtensions": [".cjs"]
  },
  "rules": {
    "complexity": "off",
    "indent": "off",
    "max-lines-per-function": "off",
    "max-statements-per-function": "off",
    "no-param-reassign": "off",
    "node/no-unsupported-features/es-syntax": [
      "off",
      {
        "version": ">=18.12.1",
        "ignores": []
      }
    ]
  }
}
