{
  "extends": "airlight-node",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-param-reassign": "off",
    "node/no-unsupported-features/es-syntax": [
      "off",
      {
        "version": ">=12.16.0",
        "ignores": []
      }
    ]
  }
}
