# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Linting and Release

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  CI: true

jobs:
  lint:
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - name: Install
        run: yarn --frozen-lockfile
      - name: Lerna configure
        run: |
          yarn lerna bootstrap
          yarn lerna link

      - name: Lint code
        run: yarn lint
  release:
    needs: lint
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - name: Install
        run: yarn --frozen-lockfile
      - name: semantic-release Prepare
        run: yarn add semantic-release semantic-release-monorepo -W
      - name: Lerna configure
        run: |
          yarn lerna bootstrap
          yarn lerna link
      - name: Build
        run: yarn build

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: yarn run semantic-release
